<!--
  The context has a key named "names" in it
  that is a list of names.

  Complete the pseudocode below to create all
  of the pieces of the unordered list of names.
-->
<!doctype html>
<html lang="en">

<head>
  <title>Problem 007</title>
</head>

<body>
  <main>
    <ul>
      {% for name in names %}
      <li>{{name}}</li>
      {% endfor %}
    </ul>
  </main>
</body>

</html>
