{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem 022</title>
    <link rel="stylesheet" href="{% static 'css/problem_019.css' %}">
</head>

<body>
    <main>
        <ln>
            {% for name in names %}
            <li class="{% cycle '' 'grey' %}">{{ name }}</li>
            {% endfor %}
        </ln>
    </main>
</body>

</html>
